@page
@model RazorPages_CombineLists.Pages.Cars.CreateModel
@{
}

<h1>Create</h1>
<h3>New car</h3>

<form method="post">
    <label for="ownerName">Car owner's name:'</label><br />
    <input type="text" name="OwnerName" /><br />

    <label for="lname">Select car brand:</label><br>
    <select name="Brand">
        @foreach (var brand in Model.carBrands)
        {
            <option value="@brand">@brand</option>
        }
    </select><br><br>

    <label for="Engine">Choose an used engine:</label><br />
    <select name="Engine">
        @foreach(var engine in Model.dbinjection.getAllEngines())
        {
            <option value="@engine.DistanceKørtKm">@engine.DistanceKørtKm</option>            
        }

    </select><br /><br />
    <label for="Turbo">Factory new</label><br />
    <input type="checkbox" asp-for="TurboUpgrade" /><br><br>

    <input type="submit" value="Submit">
</form>
<div>
    <a asp-page="index">Back to index</a>
</div>
